<h1>User sign up</h1>
<!-- <form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username : </label>
  <input type="text" name="user[username]" id="username">
  <label for="email">Email : </label>
  <input type="text" name="user[email]" id="email">
  <label for="password">Password : </label>
  <input type="password" name="user[password]" id="password">
  <input type="submit" value="Submit">
</form> -->

<!-- <%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username : ") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:email, "Email : ") %>
  <%= text_field_tag(:email) %>
  <%= label_tag(:password, "Password : ") %>
  <%= text_field_tag(:password) %>
  <%= submit_tag("Submit") %>
<% end %> -->

<%= form_for(@user) do |f| %>
  <ul>
    <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    <% end %>
  </ul>
  
  <%= f.label :username, "Username : " %>
  <%= f.text_field :username, placeholder: "User name" %>
  <%= f.label :email, "Email : " %>
  <%= f.text_field :email, placeholder: "user@example.com" %>
  <%= f.label :password, "Password : " %> 
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.submit %>
<% end %>